.App {
    max-width: 600px;
    background-color: #ffeeee;
    margin: 50px auto;
    padding: 30px;
}
.app-title {
    text-align: center;
    margin-bottom: 20px;
}
.game {
    display: flex;
}
.game .game-board,
.game .game-info{
    flex: 1 0 50%;
    max-width: 50%;
}
.game .game-info ol{
    padding-left: 12px;
}
.game .game-info ol button {
    margin-bottom: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.board {
    flex-wrap: wrap;
}
.board .status {
    margin-bottom: 12px;
}
.board-row {
    text-align: center;
}
.btn-wrapper {
    text-align: end;
}
.btn-restart {
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 20px;
    cursor: pointer;
}
.cell {
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 600;
}
